            .id
            {
                float:right;
            }
            .id1
            {
                margin-left: 140px;
            }
            .id2
            {
                height:200px;
            }
